

/*
CSS Table of Contents

1. General Page
  {body, code, root, home, main, header, }

2.Home Elements
  {,linkBox, linkText, linkText:hover }

3.About Section
  {}
4.Projects

5.Blog

6.Contact
  {contactInfoBoxParent, section, contact, div, content-container,
  contactTextBox, contactInfoBox, thirdBox, input, label, form,
  contact-container}

*/


/*
  General

  Page

  Styling

  Start
*/



body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  position: absolute;
  height: 100%;
  width: 100%;
}

#home {
  background: beige url(./resources/background.jpg) center center no-repeat;
  background-size: cover;
}

.main {
  position: fixed;
}

.home-div {
  text-align: center;
  position: fixed;
  margin-top: 18%;
  background-color: grey;
  opacity: .9;
  height: 23vw;
  justify-content: center;
  position: relative;
  display: flex;
  flex-direction: column;
}

.header {
  color: white;
  font-size: 9.5vw;
  margin-bottom: 3vw;
  font-family: 'Staatliches', "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
}

.header-media-icons {
  position: relative;
  width: 50%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: center;
}



.header-media-icons a {
  display: flex;
  height: 85%;
  margin-top: 8%;
  float: left;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;

}

#navbar-container {
      width: 100%;
      height: 4.5vw;
      margin-left: auto;
      margin-right: auto;
      position: fixed;
      z-index: 10;
      transition: top 0.3s;
      background: brown url(./resources/satin-nuss.jpg) center center no-repeat;
      background-size: cover;

    }
  

#linkBox {
      position: absolute;
      text-align: center;
      width: 100%;
      height: 15%;
      margin-left: auto;
      margin-right: auto;
      padding-top: 1%;
      border-radius: 5px;
    }

.linkText {
  text-decoration: none;
  padding-left: 3%;
  padding-right: 3%;
  font-size: 3vw;
  color: white;
  font-family: 'Staatliches';
  margin-left: auto;
  margin-right: auto;
}

.linkText:hover {
  color: brown !important;
  text-decoration: underline;
  text-decoration-color: brown;
}

/*
  General

  Page

  Styling

  End
*/


/*
  About

  Section

  Styling

  Start
*/

.about-container {
  display: flex;
  justify-content: left;
  height: 100vh;
  background: black;
}

.picture-section {
  background-color: grey;
  display: flex;
  height: 100%;
  width: 40%;
  background: beige url(./resources/portland-2.jpg) center center no-repeat;
  background-size: cover;
  border-radius: 100%;
  height: 70vh;
  margin: auto;
  margin-left: 5%;
}


.story-section {
  background-color: black;
  margin-left: 5%;
  display: flex;
  height: 100%;
  width: 60%;
  justify-content: center;
  text-align: center;
}

.main-story-section{
  width: 100%;
  height: auto;
  box-sizing: border-box;
  background-color: #ee5522;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23ca481d' fill-opacity='0.6'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
  border-radius: 10px;
}


.main-story-section h2 {
  font-size: 9vh;
  margin-top: 6%;
  font-family:  "Libre Barcode 128 Text", "Roboto", "Staatliches", "Thasadith", "ZCOOL QingKe HuangYou", "Coiny", 'Arvo';
  color: black;
}

.story-div {
  background-color:rgba(0,0,0,1);
  display: flex;
  margin-left: auto;
  margin-right: auto;
  height: 15vh;
  width: 85%;
  border-radius: 10px;
}

.devicon {
  font-size: 10vh;
  display: flex;
  margin: auto;
}

.interest-icon-div {
  width: 80%;
  height: 10vw;
}


.span-div {
  display: flex;
  margin: 0, auto;
  margin-left: auto;
  margin-right: auto;
}

.span-div span {
  position: absolute;
  background-color: white;
  width: 120px;
  color: black;
  padding:5px 0;
  text-align: center;
  border-radius: 8px;
  display: block;
  margin: 0 auto;
  opacity: 0;
  transition: .6s opactiy;
  margin-top: 8%;
}


.span-div:hover > span {
  opacity: 1;
}

.icon-div  {
  display: flex;
  width: 24%;
  height: 100%;
  float: left;
  margin-left: auto;
  margin-right: auto;
}


.icon-div span {
  position: absolute;
  background-color: white;
  width: 120px;
  color: black;
  padding:5px 0;
  text-align: center;
  border-radius: 8px;
  display: block;
  margin: 0 auto;
  opacity: 0;
  transition: .6s opactiy;
  margin-top: 6%;
  margin-right: 1%;
}


.icon-div:hover > span {
  opacity: 1;
}

.idol-div{
  height: 85%;
  width: 15%;
  border-radius: 100%;
  margin: auto; 
}

.idol-1 {
  background: beige url(./resources/milton-friedman1.png) center center no-repeat;
  background-size: cover;

}

.idol-2 {
  background: beige url(./resources/Sam_Harris_01.jpg) center center no-repeat;
  background-size: cover;
}

.idol-3 {
  background: beige url(./resources/Christopher-Hitchens.jpg) center center no-repeat;
  background-size: cover;
}

.idol-4 {
  background: beige url(./resources/thomas-sowell.jpg) center center no-repeat;
  background-size: cover;
}

.idol-5 {
  background: beige url(./resources/Greg-Giraldo.jpg) center center no-repeat;
  background-size: cover;
}

.idol-div span {
  position: absolute;
  background-color: white;
  width: 120px;
  color: black;
  padding:5px 0;
  text-align: center;
  border-radius: 8px;
  display: block;
  margin: 0 auto;
  opacity: 0;
  transition: .6s opactiy;
  margin-top: 6%;
  margin-right: 1%;
}


.idol-div:hover > span {
  opacity: 1;
}
/*
  About

  Section

  Styling

  End
*/

/*

Projects

Section

Start
*/

#projects{
  overflow-x: hidden;
}

.react-slideshow-container {
  max-height: 100%;
  justify-content: center;

}

.carousel-container {
  height: 90%;
}

.each-slide {
  text-align: center
}



.slider-animated {
  height: 100%;
}

.cover {
  max-width:100% !important;
  max-height:100% !important;
  margin: 0;
  display: flex;
  border-radius: 10px;
}

.cover:hover {
  opacity: .5;
}

.project-container {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg stroke='%23CCC' stroke-width='0' %3E%3Crect fill='%23F5F5F5' x='-60' y='-60' width='110' height='240'/%3E%3C/g%3E%3C/svg%3E");}



  div.indicators{
    display: flex;
    margin: auto;
    height: 3%;
  }

  div.indicators div {
    height: 40% !important;
    width: .5% !important;
  }

  .img-div {
    margin-top: 10%;
    display: flex;
    margin-left: auto;
    margin-right:auto;
    justify-content: center;
  }


/*
  Projects

  Section

  Styling

  End
*/






/*Blog 
Section 
Styling 
Start*/

#blog {
  background-color: blue;
}

.blog-content-div {
  border-top: 5px white solid;
  border-bottom: 2px black solid;
  padding-top: 1%;
  width: 80%;
  height: 90%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-height: 100%;

}

.main-blog-article {
  height: 85%;
  width: 95%;
  max-height: 100%;
  font-size: 1.2em;
  margin-right: 3%;
}

.main-blog-article h2 {
  color: white;
}

.main-blog-article p {
  color: white;
}
.main-blog-article h2:hover {
  opacity: .5;
}


.secondary-blog-articles {
  width: 50%;
  height: 85%;
  font-size: 1.1em;

}

.secondary-blog-articles h2 {
  color: white;
  margin-top: 4%;
  padding-top: 5%;
}

.secondary-blog-articles p {
  color: white;
  max-height: 100%;
}
.secondary-blog-articles h2:hover {
  opacity: .5;
}

.article-img{
  height: 50%;
  width: 50%;
}






/*Blog
 Section
 Styling 
 End*/

/*

Contact

Section

Start
*/

.contactInfoBoxParent {
  width: 40%;
}

section {
  height: 100vh;
  border: 1px black dotted;
}

#contact {
  background-color: black;
  height: 80%;
}

div {
  height: 100%;
}



.content-container {
  display: flex;
  padding: 4%;
  background-color: gray;
  box-sizing: border-box;
  justify-content: center;
  width: 75%;
  border-radius: 5px;

}


.contactTextBox {
  background-color: white;
  border: 1px black dotted;
  box-sizing: border-box;
  float: left;
  padding-left: 2%;
  margin-left: 2%;
  width: 33%;

}

.contactTextBox h2 {
  font-size: 5em;
  font-family: 'Staatliches' "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
}

.contactMainTextDiv  h1{
  font-size: 5em;
  text-align: center;
  font-family: 'Staatliches',
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
}


.contactInfoBox {
  box-sizing: border-box;
  background-color: white;
  float: left;
  padding-left: 4%;
  margin-left: 4%;
  width: 80%;
  border-radius: 5px;

}

.contactMainTextDiv {
  
}


input{
  float: left;
  display: flex;
}

label{
  float: left;
  display: flex;
}

form {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

#contact-container {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  padding-top: 5%;
}

/*
Contact

Section

 End

 */




 /*Footer Styling Start*/



 footer {
   width: 100%;
   height: 19%;
   padding-top: 4%;
   background-color: black;
   float: left;
 }

 #footer-div {
   margin-left: auto;
   margin-right: auto;
 }

.social {
   width: 90%;
   height: 80%;
   margin-left: auto;
   margin-right: auto;
   display: flex;
   justify-content: center;
  }

 i {
  float: left;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2%;
}

.contact {
  background-color: black;
  margin-left:auto;
  margin-right: auto;
  text-align: center;
  width: 100%;

}

.contact h1 {
  font-size: 40px;
  color: grey;
  text-align: center;
  font-family: 'Staatliches',
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  margin-bottom: 1%;


}

.submit-button {
  display: flex !important;
  float: right !important;
}

@media screen and (max-width: 1370px){

}