

/*
CSS Table of Contents

1. General Page
  {body, code, root, home, main, header, }

2.Home Elements
  {,linkBox, linkText, linkText:hover }

3.About Section
  {}
4.Projects

5.Blog

6.Contact
  {contactInfoBoxParent, section, contact, div, content-container,
  contactTextBox, contactInfoBox, thirdBox, input, label, form,
  contact-container}

*/


/*
  General

  Page

  Styling

  Start
*/



body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  position: relative;
  background: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  position: absolute;
  height: 100%;
  width: 100%;
}

#home {
  background: beige url(./resources/background.jpg) center center no-repeat;
  background-size: cover;
}

.main {
  position: fixed;
}

.home-div {
  text-align: center;
  position: fixed;
  margin-top: 18%;
  background-color: grey;
  opacity: .9;
  height: 23vw;
  justify-content: center;
  position: relative;
  display: flex;
  flex-direction: column;
}

.header {
  color: white;
  font-size: 9.5vw;
  margin-bottom: 3vw;
  font-family: 'Staatliches', "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
}

.header-media-icons {
  position: relative;
  width: 50%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: center;
}



.header-media-icons a {
  display: flex;
  height: 85%;
  margin-top: 8%;
  float: left;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;

}

#navbar-container {
      width: 100%;
      height: 4.5vw;
      margin-left: auto;
      margin-right: auto;
      position: fixed;
      z-index: 10;
      transition: top 0.3s;
      background: brown url(./resources/satin-nuss.jpg) center center no-repeat;
      background-size: cover;

    }
  

#linkBox {
      position: absolute;
      text-align: center;
      width: 100%;
      height: 15%;
      margin-left: auto;
      margin-right: auto;
      padding-top: 1%;
      border-radius: 5px;
    }

.linkText {
  text-decoration: none;
  padding-left: 3%;
  padding-right: 3%;
  font-size: 3vw;
  color: white;
  font-family: 'Staatliches';
  margin-left: auto;
  margin-right: auto;
}

.linkText:hover {
  color: brown !important;
  text-decoration: underline;
  text-decoration-color: brown;
}

/*
  General

  Page

  Styling

  End
*/


/*
  About

  Section

  Styling

  Start
*/

.about-container {
  display: flex;
  justify-content: left;
  height: 100vh;
  background: black;
}

.picture-section {
  background-color: grey;
  display: flex;
  height: 100%;
  width: 40%;
  background: beige url(./resources/portland-2.jpg) center center no-repeat;
  background-size: cover;
  border-radius: 100%;
  height: 70vh;
  margin: auto;
  margin-left: 5%;
}


.story-section {
  background-color: black;
  margin-left: 5%;
  display: flex;
  height: 100%;
  width: 60%;
  justify-content: center;
  text-align: center;
}

.main-story-section{
  width: 100%;
  height: auto;
  box-sizing: border-box;
  background-color: #ee5522;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23ca481d' fill-opacity='0.6'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
  border-radius: 10px;
  overflow-y: scroll;
}


.main-story-section h2 {
  font-size: 9vh;
  margin-top: 3%;
  font-family:  "Libre Barcode 128 Text", "Roboto", "Staatliches", "Thasadith", "ZCOOL QingKe HuangYou", "Coiny", 'Arvo';
  color: black;
}

.story-div {
  background-color:rgba(0,0,0,1);
  display: flex;
  margin-left: auto;
  margin-right: auto;
  height: 15vh;
  width: 85%;
  border-radius: 10px;
}

.devicon {
  font-size: 5vw;
  display: flex;
  margin: auto;
}

.interest-icon-div {
  width: 60%;
  height: 9vw;
}


.span-div {
  display: flex;
  margin: 0, auto;
  margin-left: auto;
  margin-right: auto;
}

.span-div span {
  position: absolute;
  background-color: white;
  width: 120px;
  color: black;
  padding:5px 0;
  text-align: center;
  border-radius: 8px;
  display: block;
  margin: 0 auto;
  opacity: 0;
  transition: .6s opactiy;
  margin-top: 8%;
}


.span-div:hover > span {
  opacity: 1;
}

.icon-div  {
  display: flex;
  width: 24%;
  height: 100%;
  float: left;
  margin-left: auto;
  margin-right: auto;
}


.icon-div span {
  position: absolute;
  background-color: white;
  width: 120px;
  color: black;
  padding:5px 0;
  text-align: center;
  border-radius: 8px;
  display: block;
  margin: 0 auto;
  opacity: 0;
  transition: .6s opactiy;
  margin-top: 6%;
  margin-right: 1%;
}


.icon-div:hover > span {
  opacity: 1;
}

.idol-div{
  height: 85%;
  width: 15%;
  border-radius: 100%;
  margin: auto; 
}

.idol-1 {
  background: beige url(./resources/milton-friedman1.png) center center no-repeat;
  background-size: cover;

}

.idol-2 {
  background: beige url(./resources/Sam_Harris_01.jpg) center center no-repeat;
  background-size: cover;
}

.idol-3 {
  background: beige url(./resources/Christopher-Hitchens.jpg) center center no-repeat;
  background-size: cover;
}

.idol-4 {
  background: beige url(./resources/thomas-sowell.jpg) center center no-repeat;
  background-size: cover;
}

.idol-5 {
  background: beige url(./resources/Greg-Giraldo.jpg) center center no-repeat;
  background-size: cover;
}

.idol-div span {
  position: absolute;
  background-color: white;
  width: 120px;
  color: black;
  padding:5px 0;
  text-align: center;
  border-radius: 8px;
  display: block;
  margin: 0 auto;
  opacity: 0;
  transition: .6s opactiy;
  margin-top: 6%;
  margin-right: 1%;
}


.idol-div:hover > span {
  opacity: 1;
}
/*
  About

  Section

  Styling

  End
*/

/*

Projects

Section

Start
*/

#projects{
  overflow-x: hidden;
}

.project-header {
  padding-top: 3%;
  font-size: 3vw;
  text-align: center;
  font-family: 'Staatliches',
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif; 
}

.react-slideshow-container {
  max-height: 100%;
  justify-content: center;
}

.carousel-container {
  height: 70%;
}

.each-slide {
  text-align: center
}



.slider-animated {
  height: 100%;
}

.cover {
  max-width:100% !important;
  max-height:100% !important;
  margin: 0;
  height: 40vw;
  width: 35vw;
  display: flex;
  border-radius: 10px;
}

.cover:hover {
  opacity: .5;
}

.project-container {
  min-height: 100%;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg stroke='%23CCC' stroke-width='0' %3E%3Crect fill='%23F5F5F5' x='-60' y='-60' width='110' height='240'/%3E%3C/g%3E%3C/svg%3E");
}

  .indicators{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: 3vw;
    width: 19vw;
  }

  .indicators div {
    height: 80% !important;
    width: 10% !important;
    border-radius: 20px;
    position: relative;
  }

  .img-div {
    display: flex;
    margin-left: auto;
    margin-right:auto;
    justify-content: center;
    height: 40vw;
    width: 70vw;
    padding-top: 3%;
    padding-bottom: 2%;

  }


/*
  Projects

  Section

  Styling

  End
*/






/*Blog 
Section 
Styling 
Start*/

#blog {
  background-color: blue;
}

.blog-div h1{
  font-size: 17vh;
  margin: auto;
}

.blog-content-div {
  border-top: 11px white ridge;
  padding-top: 1%;
  width: 90%;
  height: 75%;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  max-height: 100%;
  overflow-y: scroll;
}

.main-blog-article {
  height: 85%;
  width: 55%;
  max-height: 100%;
  margin-right: 3%;
  padding: 10px;
}

.main-blog-article h2 {
  color: white;
  font-size: 2.5vw;

}

.main-blog-article p {
  font-size: 1.2vw;
  color: white;
}
.main-blog-article h2:hover {
  opacity: .5;

}


.secondary-blog-articles {
  width: 40%;
  height: 85%;
}

.secondary-blog-articles h2 {
  color: white;
  font-size: 2.3vw;
  padding-top: 5%;
}

.secondary-blog-articles p {
  color: white;
  font-size: 1.2vw;
  max-height: 100%;
}
.secondary-blog-articles h2:hover {
  opacity: .5;
}

.article-img{
  height: 50%;
  width: 50%;
}






/*Blog
 Section
 Styling 
 End*/

/*

Contact

Section

Start
*/




#contact-container {
  box-sizing: border-box;
  background: black;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  height: 40w;
}



section {
  height: 100vh;
  background: white;
  border: 1px black dotted;
}

#contact {
  background-color: black;
  height: 40vw;
  justify-content: center;
}



div {
  height: 100%;
}



.contact-content-container {
  display: flex;
  padding: 4%;
  background-color: black;
  box-sizing: border-box;
  justify-content: center;
  width: 100%;
  height: 45vw;
  border-radius: 5px;

}

#contact h1 {
  font-size: 6vw;
  color: grey;
  text-align: center;
  font-family: 'Staatliches',
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif; 
}

input{
  float: left;
  display: flex;
}

label{
  float: left;
  display: flex;
  }

form {
  display: flex;
  padding: 2%;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}



.contactForm {
  height: 27vw;
  display: flex;
  flex-wrap: wrap;  
  margin-left: auto;
  margin-right: auto;
  overflow-y: scroll;
  width: 70vw;  
  border-radius: 20px;
  padding: 3%;
  float: left;
  background: white;
} 

.name-email-div {
  position: relative;
  float: left;
  width: 40%;
}


.message-div {
  background-color: white;
  position: relative;  
  float: left;
  flex-wrap: wrap;
  width: 60%;
}

.contact-name-div{
  background-color: white;
  float: left;

}


.contact-email-div{
  background-color: white;
  float: left;
  padding-top: 4%;

}


.submit-button {
  display: flex !important;
  float: right !important;
}

/*
Contact

Section

 End

 */




 /*Footer Styling Start*/



 footer {
  position:relative;
  left:0px;
  bottom:0px;
  height:30%;
  width:100%;
  background: black;
 }

 #footer-div {
   margin-left: auto;
   margin-right: auto;
   justify-content: center;
   display: flex;
   flex-wrap: wrap;
   padding-top: 3%;
 }

.social {
  position: relative;
  bottom: 0;
  width: 90%;
   height: 10vw;
   margin-left: auto;
   margin-right: auto;
   display: flex;
   justify-content: center;
  }

  .stay-connected-div {
    position: relative;
    justify-content: center;
    text-align: center;
    height: 10vw;
    margin-left:auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    width: 40vw;
  }

  .stay-connected-div h1 {
    font-size: 5vw;
    color: grey;
    text-align: center;
    font-family: 'Staatliches',
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

 i {
  float: left;
  margin-left: auto;
  margin-right: auto;
  padding-left: auto;
}

